In [ ]:
# Q.1 Given a list [100, 200, 300, 400, 500], print elements from index 1 to 3.
list1 = [100, 200, 300, 400, 500]
print(list1[1:3])

[200, 300]

In [ ]:
# Q.2 Find the largest and smallest numbers from the list [34, 78, 12, 99, 56].
list1 = [34, 78, 12, 99, 56]
largest=max(list1)
smallest=min(list1)
print("largest number is",largest)
print("smallest number is",smallest)

largest number is 99
smallest number is 12

In [ ]:
# Q.3 Delete the key "city" from the dictionary {"name": "Sara", "age": 23, "city": "London"}.
dict1 = {"name": "Sara", "age": 23, "city": "London"}
del dict1["city"]
print(dict1)

{'name': 'Sara', 'age': 23}

In [ ]:
# Q.4 Add "marks": 95 to the dictionary {"name": "Bob", "age": 22}.
dict1 = {"name": "Bob", "age": 22}
dict1["marks"] = 95
print(dict1)

{'name': 'Bob', 'age': 22, 'marks': 95}

In [ ]:
# Q.5 Given a tuple (10, 20, 30, 40, 50), print the first, third, and last elements.
tuple1 = (10, 20, 30, 40, 50)
print(tuple1[0])
print(tuple1[2])
print(tuple1[-1])

10
30
50

In [ ]:
# Q.6 Find the number of elements in the tuple (1, 2, 3, 4, 5, 6).
tuple1 = (1, 2, 3, 4, 5, 6)
print(len(tuple1))

6

In [ ]:
# Q.7 Create a list of 5 integers and print its type.
list1 = [1, 2, 3, 4, 5]
print(type(list1))

<class 'list'>

In [ ]:
# Q.8 Create a dictionary {"name": "Alice", "age": 25} and print its type.
dict1 = {"name": "Alice", "age": 25}
print(type(dict1))

<class 'dict'>

In [ ]:
# Q.9 Find the largest of three numbers.
numbers=[10,20,30]
largest=max(numbers)
print("largest number",largest)

largest number 30

In [ ]:
# Q.10 Check if a letter is a vowel or consonant.
letter = input("Enter a letter: ")
if letter in "aeiouAEIOU":
    print(letter, "is a vowel.")
else:
    print(letter, "is a consonant.")

Enter a letter: apple
apple is a consonant.

In [2]:
# Q.11  Check if a number is positive, negative, or zero.
number = int(input("Enter a number: "))
if number > 0:
    print(number, "is positive.")
elif number < 0:
    print(number, "is negative.")
else:
    print(number, "is zero.")

Enter a number: -8
-8 is negative.

# BONUS QUESTION

In [8]:
# Simple Calculator: Perform +, -, *, / operations based on user input.
num1 = float(input("Enter the first number: "))
operation = input("Enter the operation (+, -, *, /): ")
num2 = float(input("Enter the second number: "))

Enter the first number: 1
Enter the operation (+, -, *, /): +
Enter the second number: 1