In [ ]:
# Use a for loop to print numbers divisible by 3 between 1 and 30.
for i in range(1, 31):
    if i % 3 == 0:
        print(i)

3
6
9
12
15
18
21
24
27
30

In [ ]:
# print the multiplication table of 9 using a for loop.
for i in range(1, 11):
    print(f"9 x {i} = {9 * i}")

9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81
9 x 10 = 90

In [ ]:
# use a nested for loop to print a right-angled triangle of stars.
for i in range(1, 6):
    for j in range(i):
        print("*", end="")
    print()

*
**
***
****
*****

In [ ]:
n = 5
for i in range(1, n + 1):
  print(" " * (n - i) + "*" * (2 * i - 1))

    *
   ***
  *****
 *******
*********

In [1]:
n = 5
for i in range(1, n + 1):
  print(" " * (n - i) + "*" * (2 * i - 1))
  n = 5
for i in range(n,0, - 1):
  print(" " * (n - i) + "*" * (2 * i - 1))

    *
   ***
  *****
 *******
*********
*********
 *******
  *****
   ***
    *

In [ ]:
n = 5
for i in range(n,0, - 1):
  print(" " * (n - i) + "*" * (2 * i - 1))

*********
 *******
  *****
   ***
    *

In [9]:
def hollow_sqaure(n):
    for i in range(n):
        for j in range(n):
            if i == 0 or i == n - 1 or j == 0 or j == n-1:
                print("*", end=" ")
            else:
                print(" ", end=" ")
        print()
hollow_sqaure(5)

* * * * *
*       *
*       *
*       *
* * * * *

In [ ]:

# use a for loop to print all keys and values from a dictionary.
my_dict = {"name": "Rahul", "age": 20, "city": "Ghaziabad"}
for key, value in my_dict.items():
    print(f"{key}: {value}")

name: Rahul
age: 20
city: Ghaziabad

In [ ]:
# use a for loop to print the square of each number from 1 to 8.
for i in range(1, 9):
    print(f"{i} is {i**2}")

1 is 1
2 is 4
3 is 9
4 is 16
5 is 25
6 is 36
7 is 49
8 is 64

In [ ]:
# Print all items in the list fruits =["apple","banana","cherry"] using a for loop.
fruits = ["apple", "banana", "cherry"]
for fruit in fruits:
    print(fruit)

apple
banana
cherry

In [ ]:
# use a for loop to print each character of the string "pyhton".
for char in "python":
    print(char)

p
y
t
h
o
n

In [ ]:
# stop the loop when the number is equal to 5.
for i in range(1, 10):
    if i == 5:
        break
    print(i)

1
2
3
4

In [ ]:
 # Find the largest number in the list [4, 9, 2, 10, 7] using a for loop.
 my_list = [4, 9, 2, 10, 7]
 largest = my_list[0]
 for num in my_list:
    if num > largest:
        largest = num
        print(my_list)
print(f"The largest number is {largest}")

[4, 9, 2, 10, 7]
[4, 9, 2, 10, 7]
The largest number is 10

In [ ]:
 # Count how many even and odd numbers are present in [1, 2, 3, 4, 5, 6].
 my_list = [1, 2, 3, 4, 5, 6]
 even_count = 0
 odd_count = 0
 for num in my_list:
    if num % 2 == 0:
        even_count += 1
    else:
        odd_count += 1
        print(f"Even numbers: {even_count}")
        print(f"Odd numbers: {odd_count}")

Even numbers: 0
Odd numbers: 1
Even numbers: 1
Odd numbers: 2
Even numbers: 2
Odd numbers: 3